@import url("theme.css");

.cart-section {
  padding: 2rem;
  max-width: 90%;
  margin: 0 auto;
  background-color: var(--body-color);
}

.heading {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: var(--second-color);
  font-weight: var(--font-semi-bold);
}

.cart-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.cart-item {
  display: flex;
  background-color: var(--first-color);
  border-radius: 1rem;
  padding: 1rem;
  gap: 1.5rem;
  align-items: center;
  box-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, 0.05);
}

.cart-item img {
  width: 7rem;
  height: auto;
  border-radius: 0.5rem;
  object-fit: cover;
}

.cart-info {
  flex-grow: 1;
}

.cart-info h3 {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  color: var(--second-color);
}

.cart-info p {
  font-size: 1rem;
  margin: 0.2rem 0;
  color: var(--grey-color);
}

.remove-btn {
  display: inline-block;
  margin-top: 0.7rem;
  padding: 0.5rem 1rem;
  background-color: var(--lighter-second-color);
  color: var(--white-color);
  border-radius: 0.5rem;
  text-decoration: none;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.remove-btn:hover {
  background-color: var(--second-color);
}

.cart-summary {
  margin-top: 2rem;
  text-align: right;
}

.total-price {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--second-color);
  margin-bottom: 1rem;
}

.confirm-btn {
  padding: 0.8rem 2rem;
  font-size: 1rem;
  background-color: var(--fourth-color);
  color: var(--white-color);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.confirm-btn:hover {
  background-color: var(--third-color);
}
