@import url("theme.css");

.user-icon {
  width: 35px;
  height: 35px;
  color: var(--third-color);
}

.dropdown__image {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: var(--first-color);
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Le petit point d'état connecté/déconnecté */
.status-dot {
  position: absolute;
  bottom: 2px;
  right: 2px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: red; /* défaut : déconnecté */
  border: 2px solid white;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

/* Si connecté */
.status-dot.connected {
  background-color: #20c997; /* vert */
}
