@import url("theme.css");

.b-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container2{
    background-color: var(--back-color);
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    margin-top: 8rem;
    margin-bottom: 5rem ;
}

.container2 p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.container2 span{
    font-size: 12px;
}

.container2 a{
    color: var(--grey-color);
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.container2 button{
    background-color: var(--second-color);
    color: var(--white-color);
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.container2 button.hidden{
    background-color: transparent;
    border-color: var(--white-color);
}

.container2 form{
    background-color: var(--back-color);;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.container2 input{
    background-color: var(--container-input-color);
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in{
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.active .sign-in{
    transform: translateX(100%);
}

.sign-up{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container2.active .sign-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move{
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
}

.social-icons{
    margin: 20px 0;
}

.social-icons a{
    border: 1px solid var(--social-icons-border-color);
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}

.toggle-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 10;
}

.container2.active .toggle-container{
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.toggle{
    background-color: var(--second-color);
    height: 100%;
    background: linear-gradient(to right, var(lighter-second-color), var(--second-color));
    color: var(--white-color);
    position: relative;
    left: -100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
    z-index: 0;
}


.container2.active .toggle{
    transform: translateX(50%);
}

.toggle-panel{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}


.toggle-left{
    transform: translateX(-200%);
}

.container2.active .toggle-left{
    transform: translateX(0);
}

.toggle-right{
    right: 0;
    transform: translateX(0);
}

.container2.active .toggle-right{
    transform: translateX(200%);
}

.admin-sign-in {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.container2.admin-active .admin-sign-in {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
}

.container2.admin-active .sign-in {
    transform: translateX(100%);
    opacity: 0;
    z-index: 1;
}

.command {
    color: var(--body-color);
}

#user-role {
    background-color: var(--container-input-color);
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.mobile-switch {
    display: none;
}


@media screen and (max-width: 991px) {
    .container2 p {
        font-size: 13px;
        line-height: 18px;
    }

    .container2 span {
        font-size: 11px;
    }

    .container2 a {
        font-size: 12px;
    }

    .container2 button {
        font-size: 14px;
        padding: 12px 40px;
    }

    .container2 input {
        font-size: 14px;
        padding: 12px;
    }

    .command {
        font-size: 20px;
    }
}



@media screen and (max-width: 768px) {
    body {
        height: auto;
        padding: 10px;
    }

    .container2 {
        width: 90%;
        min-height: 600px; 
        padding: 20px;
        display: flex;
        flex-direction: column;
        max-width: 400px;
        position: relative;
    }

    .form-container {
        width: 100%;
        position: absolute;
        top: 0;
        height: 100%; 
    }
    
    .sign-in, .sign-up {
        width: 100%;
        position: absolute;
        opacity: 1;
        transform: translateX(0);
        transition: transform 0.6s ease-in-out;
    }

    .container2.active .sign-in {
        transform: translateX(-100%);
    }

    .container2.active .sign-up {
        transform: translateX(0%);
    }

    .container2 button {
        width: 100%;
        font-size: 18px;
        padding: 16px;
    }

    .container2 input {
        font-size: 16px;
        padding: 14px;
    }

    .mobile-switch {
        display: block;
        text-align: center;
        font-size: 14px;
        margin-top: 15px;
    }

    .mobile-switch a {
        color: var(--second-color);
        font-weight: bold;
        text-decoration: none;
        cursor: pointer;
    }

    
    .toggle-container {
        display: none;
    }


    .container2 p {
        font-size: 13px;
        line-height: 18px;
    }

    .container2 span {
        font-size: 11px;
    }

    .container2 a {
        font-size: 12px;
    }

    .command {
        font-size: 22px;
    }
}


@media screen and (max-width: 480px) {
    .container2 p {
        font-size: 12px;
        line-height: 16px;
    }

    .container2 span {
        font-size: 10px;
    }

    .container2 a {
        font-size: 11px;
    }

    .containe2 button {
        font-size: 12px;
        padding: 10px 30px;
    }

    .container2 input {
        font-size: 13px;
        padding: 10px;
    }

    .command {
        font-size: 18px;
    }
}





