@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

/*---------------------VARIABLES CSS---------------------*/
  :root {
    --header-height: 3.5rem;
  
    /*---------------------Colors---------------------*/
    --first-color: #FEFAE0;
    --second-color: #78593a;
    --third-color: #C0C78C; 
    --fourth-color: #A6B37D;
    --body-color: #FEFAE0;

    /* Additional colors for register form */

    --back-color: #C0C78C; /*For the backround of the form and the container*/
    --lighter-second-color: #a27950; 
    --white-color: #fff;
    --grey-color: #333;
    --container-input-color: #eee;
    --social-icons-border-color: #ccc;
  
    /*---------------------Font and typography---------------------*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Montserrat", sans-serif;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
  
    /*---------------------Font weight---------------------*/
    --font-medium: 500;
    --font-semi-bold: 600;
  
    /*---------------------z index---------------------*/
    --z-tooltip: 10;
    --z-fixed: 100;
  }


  /*---------------------Responsive typography---------------------*/
@media screen and (min-width: 1150px) {
  :root {
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}
